.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-userName {   
    opacity: .6;
}

.tw-followCard-img {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .2s ease-in-out background-color;
}

.tw-followCard-button:hover {
    background-color: #09f;
}

.tw-followCard-button:active {
    transform: scale(0.9);
}


.tw-followCard-button.is-following {
    border: 1px solid rgb(3, 51, 139);
}

.tw-followCard-button.is-following:hover {
    background: rgb(3, 51, 139);
}